
@import "_var.scss";

//$tablet: 725px;
$media-tablet: "only screen and (max-width : 725px)";
//$mobile: 375px;
$media-mobile: "only screen and (max-width : 540px)";


body{
   font-family: 'Overpass', sans-serif;
   font-size: 15px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #000;
   min-height: 100vh;
}

.main-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   width: 400px;
   padding: 25px;
   background-image: linear-gradient(to bottom, var(--Dark-Blue), var(--Very-Dark-Blue));
   
   @media #{$media-mobile} {
      width: 85%;
    }

   .star-icon-container{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 25px;
      img{
         padding: 15px;
         background-color: var(--Dark-Blue);
         border-radius: 50px;
         margin-right: 15px;
      }
      #star-rating{
         color: var(--Orange);
      }
   }
   .text-content{
      width: 100%;
      margin-bottom: 25px;
      h1{
         font-size: 25px;
         color: white;
         margin-bottom: 15px;
      }
      p{
         color: var(--Light-Grey);
         line-height: 1.5;
      }
   }
   .rating-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 25px;
      .rating-num{
         display: flex;
         justify-content: center;
         align-items: center;
         padding-top: 2px;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background-color: var(--Dark-Blue);
         color: var(--Light-Grey);
         font-weight: 700;
         transition: all 0.2s ease-in-out;
         cursor: pointer;
      }
      .rating-num:hover{
         background-color: var(--Orange);
         color: white;
      }
      
   }
   .btn-wrapper{
      width: 100%;
      margin-top: 25px;
      button{
         width: 100%;
         background-color: var(--Orange);
         color: white;
         border-radius: 50px;
         border: none;
         padding: 10px;
         font-size: 15px;
         font-weight: 500;
         text-transform: uppercase;
         transition: all 0.2s ease-in-out;
         cursor: pointer;
      }
      button:hover{
         background-color: white;
         color: var(--Orange);
      }
   }
   .selected{
      background-color: var(--Light-Grey)!important; 
      color: white !important;
   }
   // Thank You Styling //
   .thankyou-container{
      // base styling comes from main-container. css class added to this container as well
      position: absolute;
      z-index: 10;
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s ease-in-out;
      height: 398.100px;
      .count-wrapper{
         display: flex;
         justify-content: flex-start;
         align-items: center;
         opacity: 0.7;
         width: 100%;
         height: 21.2px;
         .counter-text{
            color: var(--Orange);
            font-size: 10px;
            margin-right: 4px;
         }
         #countDwn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: min-content;
            font-size: 10px;
            color: var(--Light-Grey);
            transition: all 0.3s ease-in-out;
         }
      }
      .header-container{
         width: 100%;
         text-align: center;
         margin-bottom: 15px;
         img{
            margin-bottom: 25px;
         }
         .rating-output-container{
            text-align: center;
            color: var(--Orange);
            border-radius: 25px;
            background-color: var(--Dark-Blue);
            padding: 8px;
            width: 200px;
            margin: auto;
         }
      }
      .thank-you-content-wrapper{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         color: white;
         h1{
            width: 100%;
            text-align: center;
            margin-bottom: 15px;;
         }
         p{
            width: 100%;
            text-align: center;
            line-height: 1.5;
            color: var(--Light-Grey);
         }
      }
   }
}

// === FOOTER AREA === 
.attribution { 
   position: absolute;
   bottom: 20px;
   font-size: 11px; text-align: center;
   color: var(--Medium-Grey); 
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}