@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  min-height: 100vh;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  width: 400px;
  padding: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--Dark-Blue)), to(var(--Very-Dark-Blue)));
  background-image: linear-gradient(to bottom, var(--Dark-Blue), var(--Very-Dark-Blue));
}

.main-container .star-icon-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.main-container .star-icon-container img {
  padding: 15px;
  background-color: var(--Dark-Blue);
  border-radius: 50px;
  margin-right: 15px;
}

.main-container .star-icon-container #star-rating {
  color: var(--Orange);
}

.main-container .text-content {
  width: 100%;
  margin-bottom: 25px;
}

.main-container .text-content h1 {
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
}

.main-container .text-content p {
  color: var(--Light-Grey);
  line-height: 1.5;
}

.main-container .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 25px;
}

.main-container .rating-container .rating-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Dark-Blue);
  color: var(--Light-Grey);
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.main-container .rating-container .rating-num:hover {
  background-color: var(--Orange);
  color: white;
}

.main-container .btn-wrapper {
  width: 100%;
  margin-top: 25px;
}

.main-container .btn-wrapper button {
  width: 100%;
  background-color: var(--Orange);
  color: white;
  border-radius: 50px;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.main-container .btn-wrapper button:hover {
  background-color: white;
  color: var(--Orange);
}

.main-container .selected {
  background-color: var(--Light-Grey) !important;
  color: white !important;
}

.main-container .thankyou-container {
  position: absolute;
  z-index: 10;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 398.100px;
}

.main-container .thankyou-container .header-container {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.main-container .thankyou-container .header-container img {
  margin-bottom: 25px;
}

.main-container .thankyou-container .header-container .rating-output-container {
  text-align: center;
  color: var(--Orange);
  border-radius: 25px;
  background-color: var(--Dark-Blue);
  padding: 8px;
  width: 200px;
  margin: auto;
}

.main-container .thankyou-container .thank-you-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.main-container .thankyou-container .thank-you-content-wrapper h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.main-container .thankyou-container .thank-you-content-wrapper p {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: var(--Light-Grey);
}

.attribution {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */